@charset "utf-8";

/*
 * F2F5ED ~ bialy
 * FFC200 ~ zolty
 * FF5B00 ~ pomaranczowy
 * B80028 ~ czerwony (róż)
 * 84002E ~ czerwony (wino)
 * 4AC0F2 ~ niebieski
 */

* {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
}

html, body {
	overflow: hidden;
}

body {
	background-color: #4AC0F2;
	font-family: 'Cuprum', arial, serif;
	font-size: 20px;
	letter-spacing: 0.6px;
	color: #FF5B00;
}

hr {
	clear: both;
	border: none;
	padding: 10px 0;
}

h1 {
	padding-bottom: 0.3em;
}

h3 {
	padding-bottom: 0.8em;
}
p {
	padding-bottom: 1em;
}

a {
	text-decoration: underline;
	color: #B80028;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

#container {
	background-color: #F2F5ED;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px auto;
	width: 800px;
	height: 480px;
	-webkit-box-shadow: 0 0 5px #84002E;
	-moz-box-shadow: 0 0 5px #84002E;
	box-shadow: 0 0 5px #84002E;
	position: relative;
}

.tab {
	display: table-cell;
	width: inherit;
	height: inherit;
	vertical-align: middle;
	text-align: center;
}

.popup {
	position: absolute;
	top: 150px;
	left: 240px;
	right: 240px;
	min-height: 60px;
	padding: 20px 70px;
	text-align: center;
	
	color: #FFF;
	background: rgba(255, 91, 0, 0.8) no-repeat 20px 20px;
	background-image: none;

	border: 2px solid rgba(255, 91, 0, 1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0 0 5px rgba(255, 91, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(255, 91, 0, 0.5);
	box-shadow: 0 0 5px rgba(255, 91, 0, 0.5);
}

.popup a {
	color: #FFF;
	text-shadow: 0 0 2px #fff;
	margin: 0 4px;
}

#errors.popup {
	background-image: url(images/icon-error.png);
	/*
	background-color: rgba(132, 0, 46, 0.5);
	border-color: #84002E;
	
	-webkit-box-shadow: 0 0 5px rgba(132, 0, 46, 0.5);
	-moz-box-shadow: 0 0 5px rgba(132, 0, 46, 0.5);
	box-shadow: 0 0 5px rgba(132, 0, 46, 0.5);
	*/
}

#infos.popup {
	background-image: url(images/icon-info.png);
}

/* style indywidualne */
#intro > div {
	height: 250px;
}
#game {
	position: relative;
	display: block;
}
#game canvas {
	position: absolute;
}

#servers {
	height: 400px;
}

#servers ul {
	list-style: none;
	text-align: left;
	padding: 20px;
}

#servers li {
	margin-bottom: 10px;
}

#servers .players {
	font-size: 0.8em;
}

.info {
	position: absolute;
	top: 20px;
	right: 20px;
}

/* style ogólne */
.popup.hide,
.tab.hide,
#game.hide {
	display: none;
}