[submodule "server/websocket"]
	path = server/websocket
	url = git://github.com/miksago/node-websocket-server.git
[submodule "server/mysql"]
	path = server/mysql
	url = git://github.com/felixge/node-mysql.git
